<template>
	<div class="container">
		<BBButton />
	</div>
</template>

<style lang="scss" scoped>
	.container {
		color: #FF0000;
	}
</style>

<script lang="ts">
	import { Component, Vue, Prop } from 'vue-property-decorator';
	import { default as BBButton } from '../components/Button.vue';

	@Component
	export default class extends Vue {
		public name = 'Homepage';
	}
</script>
