<template>
	<div class="btn">Test</div>
</template>

<style lang="scss" scoped>

</style>

<script lang="ts">
	import { Component, Vue, Prop } from 'vue-property-decorator';

	@Component
	export default {
		name: 'BBButton',
	}
</script>
