<template>
	<div class="app">
		<router-view class="section"></router-view>
	</div>
</template>

<style lang="scss" scoped>
	.app {
		color: get-color(basic, brighter);
	}
</style>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator';

	@Component
	export default class extends Vue {
		public name = 'App';
	}
</script>
