//
// Define global styles for the application,
// usually html and body content.
//

html,
body {
  $font-size: 16px;

  background: get-color(secondary, dark);
  color: get-color(basic, darkest);
  font-family: OpenSans;
  font-size: $font-size * .65;

  @media screen and (min-width: get-media(s)) {
    font-size: $font-size * .8;
  }

  @media screen and (max-width: get-media(m)) {
    font-size: $font-size;
  }
}
